.header {
    background-color: rgba(70, 70, 70, 0.273);
    padding: clamp(0.5em, 1em, 1.5em);
    position: relative;
}

.top-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerList {
    display: flex;
    text-align: center;
    gap: 1em;
    list-style: none;
}

.headerList li {
    font-weight: bold;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.headerList li:hover {
    color: var(--primary-green);
    text-decoration: underline;
    padding: 0.5em;
}

/* Hide by default with opacity and transform */
.hide {
    display: none;
    opacity: 0;
    transform: translateY(-2rem);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Show with opacity and smooth slide */
.show {
    display: block; 
    opacity: 1; 
    transform: translateY(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
    background: rgba(0, 0, 0, 0.8);
    padding: 1em;
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    color: white;
}

.grid {
    display: flex;
    gap: 1em;
}

.grid-items {
    flex: 1;
    padding: 1em;
    border: 1px solid white;
    text-align: center;
}

.grid{
    background-color: pink;
    padding: 10px;
}